<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ticket.title %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>

<p>
  <b>Owners:</b>
  <%= @ticket.owners_id %>
</p>

<p>
  <b>Assigned to:</b>
  <%= @ticket.assigned_to %>
</p>

<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
